<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>A new MongoDB Project awaiting you</p>
         </br>
        <p> You are already register on MongoDB Sizer app</a> </p>
        <p> Please login with this url :  <a href={{link}}>MongoDB Sizer</a> with your email</p>
    </body>
</html>