<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Welcome to MongoDB Sizer</p>
         </br>
        <p> Please login here with your email :  <a href={{link}}>MongoDB Sizer</a> </p>
        <p> password: {{password}}</p>
    </body>
</html>