<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Welcome to MongoDB Sizer</p>
         </br>
        <p>Please login with this url :  <a href={{link}}>MongoDB Sizer</a> </p>
        <p>and this password: {{password}}</p>


    </body>
</html>